<!-- Footer -->
<footer class="row mx-0">
  <!-- Logo -->
  <div class="col-md-3 text-center" id="footer-logo-container">
    <img src="{{ "images/Ipsum_logo.png" | relative_url }}" id="footer-logo">
  </div>
  <!-- Text -->
  <div class="col-md-9 pt-4 pt-md-0 f-tiny">
    <p class="f-tiny">Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Facilis fastidii duo no. Viris partiendo ius no, alia animal nam at. Feugait imperdiet ius an, no quis facer lucilius vis. Aliquam saperet contentiones ex pro, id idque offendit ius. Fugit suavitate ad eam, ut essent debitis cum. Cu duo iudico instructior. Sea te choro perfecto, per eu meis nonumy percipit. Ut mea sint constituam, cu pro impedit constituam.</p>
  <!-- Links -->
    <p class="mb-0">No dicta errem sed. Mea ei detraxit patrioque, sumo eirmod ea vix. | <a href="#">Privacy Policy</a> | <a href="#">Legal Notice</a></p>
  </div>
</footer>