<!-- Header bar -->
<header class="row my-3" id="header">
  <div class="col col-md-4 text-left">
    <img class="pl-3" id="header-logo" src="{{ "images/Ipsum_logo.png" | relative_url }}">
  </div>
  <div class="col col-md-8 text-right d-flex align-items-middle justify-content-end">
    <div class="d-none d-md-inline-block my-auto f-sm" id="header-text">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p class="mb-0">Etiam blandit convallis porttitor dolor sit amet.</p>
    </div>
    <img class="pr-3 d-inline-block" src="{{ "images/Wine-Icon.png" | relative_url }}">
  </div>
</header>