---
layout: default
---

<!-- Hero -->
<div class="hero" id="hero" style="background-image: url({{ "images/Aspot-Image.jpg" | relative_url }});">
  <div class="hero-overlay d-flex align-items-center justify-content-center">
    <div class="hero-overlay-text">
      <h4 class="text-uppercase">Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea cetero quaerendum mel ea vitae mel ea vitae mel ea vitae</h4>

      <p class="my-4">Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Facilis fastidii duo no. Viris partiendo ius no, alia animal</p>

      <form>
        <input id="cta-input" type="text" placeholder="Text Input" id="cta-input">
        <div class="cta-animate mt-1 d-flex justify-content-center align-items-center" id="cta-button">
          <i class="fa fa-search"></i>
          <p class="ml-2 text-uppercase" id="cta-button-text">Lorem ipsum ad qui, amet dolore lorem</p>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Video and Snippets -->
<div class="row my-md-5">
  <!-- Video -->
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="225" class="embec-responsive-item" src="https://www.youtube.com/embed/LS-ErOKpO4E?start=41&rel=0" frameborder="0" allowfullscreen></iframe>
      <!-- Vid caption -->
    </div>
    <div id="video-caption">
      <p class="mb-0">Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Facilis fastidii duo no. Viris partiendo ius no, alia animal nam at. Feugait imperdiet ius an, no quis facer lucilius vis. Lorem ipsum ad.</p>
    </div>
  </div>

  <!-- About snippets -->
  <div class="col-md mx-3 px-3" id="info-snippets">
    <p>Lorem ipsum ad qui amet dolore, vitae cetero quaerendum <span class="emph">sorem ipsum</span> ipsum ad qui amet dolore, vitae <span class="emph">veniam recteques</span> et:</p>

    <!-- Beer -->
    <div class="row snippet">
      <div class="col-md-auto pr-0 icon-container">
        <span class="hr-behind left d-md-none"></span>
        <img class="my-3 my-md-0 px-0" src="{{ "images/Beer-Icon.png" | relative_url }}" height="40px">
        <span class="hr-behind right d-md-none"></span>
      </div>
      <div class="col-md pl-md-2">
        <p class="emph my-0">Lorem ipsum dolor sit</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit convallis porttitor, lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Wine -->
    <div class="row snippet">
      <div class="col-md-auto pr-0 icon-container">
        <span class="hr-behind left d-md-none"></span>
        <img class="my-3 my-md-0 px-0" src="{{ "images/Wine-Icon.png" | relative_url }}" height="40px">
        <span class="hr-behind right d-md-none"></span>
      </div>
      <div class="col-md pl-md-2">
        <p class="emph my-0">Convenire Consulato Deterruissete</p>
        <p>Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Lorem ipsum ad qui amet dolore.</p>
      </div>
    </div>

    <!-- List -->
    <div id="info-list">
      <div class="px-0 text-center icon-container">
        <span class="hr-behind left"></span>
        <i class="fa fa-toggle-down my-3 px-2" id="list-icon"></i>
        <span class="hr-behind right"></span>
      </div>
      <p><b>Usu cu animal meliore platonem:</b></p>
      <ul class="pl-3">
        <div class="row text-left f-sm">
          <div class="col-lg">
            <li>Aliquyam complectitur</li>
            <li>Platonem theophrastus duo ea</li>
            <li>Magna vivendo deseruisse</li>
            <li>Cu vel debet ludus</li>
          </div>
          <div class="col-lg">
            <li>Legendos expetendis duo, sed et elicata</li>
            <li>Pericula torquatos</li>
            <li>No dicta errem sed</li>
          </div>
        </div>
      </ul>
    </div>

  <!-- CTA link -->
    <div class="cta-animate">
      <a href="#hero" id="cta-link" class="text-uppercase emph" style="color:rgb(185,70,0);">
        Instructior ei sed, ei ius nostro corrumpit <i class=" ml-2 fa fa-angle-right" style="font-size: 1.2rem;"></i>
      </a>
    </div>

  </div>
</div>

<!-- Quote -->
<div class="row no-gutters" id="quote">
  <!-- Image -->
  <div class="col-lg text-center d-flex align-items-center justify-content-center" id="quote-image-container">
    <img src="{{ "images/Quote-Image.png" | relative_url }}" id="quote-image">
  </div>
  <!-- Text box -->
  <div class="col-lg" id="quote-text-container">
    <div id="quote-text-inner">
      <div id="quote-text">
        <span id="block-quote">
          <p><span id="open-quote" class="fa fa-quote-left"><!--&ldquo;--></span>Nec mundi equidem consulatu no. Sea an prodesset intellegat, usu dicit aperiam ut. Usu cu animal meliore. Platonem theophrastus duo ea. Nec mundi equidem consulatu no. Sea an prodesset.&rdquo;</p>
        </span>
        <div id="block-quote-footer">
          <b>Some Dudes</b><br>
          <em class="f-sm">Their Job Role, Their Company Inc.</em>
        </div>
      </div>
    </div>
  </div>
</div>
